.gom_grid
{
  display: grid;
  justify-content: start;
  width: 10000%;
}

.gom_text
{
  font-family: sans-serif;
  font-size: 1em;
  color: #f0f0f0;
  padding: 8px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.gom_dates
{
  background-color: #3893F5;
  font-weight: bold;
  font-size: 0.7em;
}

.gom_dates_weekend
{
  background-color: #91BFF4;
  font-weight: bold;
  font-size: 0.7em;
  color: #555555;
}

.gom_dates_now
{
  background-color: #0000FF;
  font-weight: bold;
  font-size: 0.7em;
}

.gom_text_0
{
  font-size: 1em;
  font-weight: bold;
  background-color: #3893F5;
  white-space: nowrap;
}

.gom_text_1
{
  font-size: 1em;
  background-color: #3893F5;
  white-space: nowrap;
}

.gom_allocated_0
{
  background-color: #5778cd;
}

.gom_allocated_1
{
  background-color: #004997;
}

.gom_free
{
  background-color: #85BDF5;
}

.gom_free_now
{
  background-color: #859DF5;
}

.gom_free_weekend
{
  background-color: #95CDF5;
}

.gom_sticky
{
  position: sticky !important;
  left: 0px !important;
  z-index: 2;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gom_blank
{
  background-color: white;
}